{% extends 'base.html.twig' %}

{% block title %}Hébergements insolites - Vivez des expériences uniques{% endblock title %}

{% block body %}
<style>
    body{
        background-image: url(../../../images/natural-lovely-pink-wallpaper-borders-12.jpg);
        
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        background-size: cover;
      
    }
   
</style>

<div id="home">
    
    <div
    class="bg-image d-flex justify-content-center align-items-center"
    style="
      background-image: url(../../../images/239809-vector-illustration-de-la-belle-nature-gratuit-vectoriel.jpg);
      height: 90vh;
      
      background-repeat: no-repeat;
      background-position: center center;
      background-attachment: fixed;
      background-size: cover;
    "
     >
  <form action="{{ path('properties') }}" id="properties" class="row justify-content-md-center justify-content-lg-between mx-0 py-0 g-2 mt-5">
    <h1 class="h1 text-center  "><b class="text-dark">Commencez <br> votre <br>histoire <br>avec <br> </b><b class="text-success"> LA N A T U R E</b></h1>
    <div class="col-md-4"></b>
        <div class="form-floating">
            <select class="form-select" id="propertyType" name="propertyType" aria-label="Type d'hébergement">
                <option selected disabled>Type</option>
                {% for type in propertyType %}
                <option value="{{ type.id }}">{{ type.title }}</option>
                {% endfor %}
                
            </select>
            <label for="propertyType">Type d'hébergement</label>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-floating">
            <input type="text" class="form-control" id="ville" name="city" placeholder="Paris">
            <label for="ville">Ville</label>
        </div>
    </div>
    <div class="col-md-4 ">
        <div class="form-floating">
            <input type="number" class="form-control" id="textNumber" name="capacity" placeholder="1">
            <label class="text-dark" for="textNumber">Nombre de personne</label>
        </div>
    </div>
    
    <div class="col-md-4">
        <div class="form-floating">
            <input type="number" class="form-control" id="prixMin" name="prixMin" placeholder="100">
            <label for="prixMin">Prix Min</label>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-floating">
            <input type="number" class="form-control" id="prixMax" name="prixMax" placeholder="900">
            <label for="prixMax">Prix Max</label>
        </div>
    </div>

  
    <div class="col-md-4 d-flex" >
        <button type="submit" class="btn btn-success w-100">Rechercher</button>
    </div>
  
   

</form>
  </div>
    <section class="py-5 text-center container">
        <div class="row  ">
            <div class="mx-auto">
         <div class="card-title py-4">
                <h2 class="h2 text-center text-light bg-dark py-4 ">AtypikHouse : L'habitat alternatif</h2></div>
                <video playsinline="playsinline" width="60%" autoplay="autoplay" controls alt="video atypikHouse" muted="muted" loop="loop">
                    <source src="../../video/ATYPIK.mp4" type="video/mp4" class="text-center">
                    <h3 class=" text-center bg-dark text-light">Pourquoi atypikHouse</h3>
                  </video>
                  
                <div class="lead text-dark  fs-6"><br>
                    <p style=" text-align: auto; text-justify: auto;">
                        <b>AtypikHouse sélectionne pour vous des hébergements insolites
                        partout en France ! AtypikHouse vous garantit un séjour unique hors des sentiers battus ! Défiez
                        le vertige dans une cabane à 12 mètres de hauteur, laissez-vous flotter sur une cabane au milieu
                        d’un lac, observez les étoiles depuis votre lit dans une bulle .

                        Grâce à nous, vous vivrez une véritable expérience hors du commun !

                        Réservez instantanément votre coup de cœur directement en ligne depuis smartphone, tablette ou
                        ordinateur. A moins de 2 heures de chez vous ou à l’autre bout de la France, vous êtes sûrs de
                        trouver l’hébergement de vos rêves grâce à notre moteur de recherche intuitif.</b></p>
                </div>
            
        </div>
    </div>
    
    <div class="card-body">
        <h2 class="fw-light mb-5 text-light bg-dark py-4 ">Réservez maintenant : plus de 40 espaces en pleine nature.</h2>
        <div class="row justify-center mt-3">
            {% if properties|length > 0 %}
            {% for property in properties %}
            <div class="col-sm-12 col-md-4 col-lg-4 mb-4">
                <div class="card shadow-sm">
                    <div id="carouselExampleIndicators{{ property.id }}" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            {% for image in property.images %}
                            <div class="carousel-item {{ (loop.index == loop.first)? 'active' : '' }}">
                                <img src="/images/gallery/{{ image.path }}" class="d-block w-100"
                                    alt="{{ property.title }}">
                            </div>
                            {% endfor %}
                        </div>
                        <button class="carousel-control-prev" type="button"
                            data-bs-target="#carouselExampleIndicators{{ property.id }}" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button"
                            data-bs-target="#carouselExampleIndicators{{ property.id }}" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ property.title }}</h5>
                        <p class="card-text">{{ property.description|u.truncate(70,'...') }}</p>
                        <p>
                            <span class="badge rounded-pill bg-success">Capacité :
                                {{ property.capacity }}</span>
                            <span class="badge rounded-pill bg-warning text-dark">Nombre de chambres :
                                {{ property.rooms }}</span>
                            <span class="badge rounded-pill bg-primary">Nombre de pièces :
                                {{ property.pieces }}</span>
                            <span class="badge rounded-pill bg-info text-dark">Surface du logement :
                                {{ property.superficie }}</span>
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="{{ path('property',{'id':property.id}) }}"
                                    class="btn btn-sm btn-outline-secondary">Détails</a>
                            </div>
                            <small
                                class="text-muted">{{ property.addresse.city }}&nbsp;({{ property.addresse.codeZip  }})</small>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="row py-lg-5 ">
        <div class="mx-auto">
        <div class="card-body ">
        <h2 class="fw-light mb-5 text-light bg-dark py-4">Choisissez votre destination ET entamez votre aventure sauvage</h2>
        <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-0 py-3">
            <div id="map" style="height: 500px;" class="col shadow-lg p-3 mb-5 bg-body rounded">
            </div>
        </div> 
    </div>
     </div>
    </div>
    </section>
</div>
{% endblock %}
{% block javascript %}
<script>
    $(document).ready(function () {
        mapboxgl.accessToken =
            'pk.eyJ1IjoiZWxtYWhkaS1iZW5icmFoaW0iLCJhIjoiY2t4b290ZGhlMGtrZDJ2b2VtaHB6cXRqeSJ9.a7SmdbsO1IfjPJdHASuSyg';
        const mapboxClient = mapboxSdk({
            accessToken: mapboxgl.accessToken
        });
        const map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/elmahdi-benbrahim/ckza9k8p0002s15pcoi3jz4ev',
            zoom: 3.56,
            center: [7.191, 49.583]
        });
        var myHeaders = new Headers();
        //myHeaders.append("Authorization", "Bearer {{ csrf_token('addresse') }}"); JWT
        var requestOptions = {
            method: 'GET',
            headers: myHeaders,
            redirect: 'follow'
        };

        fetch("/api/addresses", requestOptions)
            .then(response => response.text())
            .then(result => {
                let adds = JSON.parse(result);
                adds.map((add) => {
                    mapboxClient.geocoding
                        .forwardGeocode({
                            query: add.addresse,
                            autocomplete: false,
                        })
                        .send()
                        .then((response) => {
                            if (
                                !response ||
                                !response.body ||
                                !response.body.features ||
                                !response.body.features.length
                            ) {
                                console.error('Invalid response:');
                                console.error(response);
                                return;
                            }
                            const feature = response.body.features[0];
                            const popup = new mapboxgl.Popup({
                                    closeOnClick: false
                                })
                                .setLngLat(feature.center)
                                .setHTML(`<h6>${add.property}</h6>`);
                            new mapboxgl.Marker().setPopup(popup).setLngLat(feature.center)
                                .addTo(map);
                        });
                });

            })
            .catch(error => console.log('error', error));
    });
</script>
{% endblock %}