{% extends 'base.html.twig' %}

{% block title %}
Login
{% endblock title %}

{% block body %}

    
      
            {% if error %}
            <div class="alert alert-danger" role="alert">
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
            {% endif %}
            <style>
                body{
                    background-color: #FFFAF0;
                }
            </style>

            <section class="vh-100" >
                <div class="container py-5 h-100">
                  <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col col-xl-10">
                      <div class="card" style="border-radius: 1rem;">
                        <div class="row g-0">

                            <div class="col-md-6 col-lg-5 d-none d-md-block">
                                <img src="{{asset('/images/hell.webp')}}"
                                 alt="login form" class="img-fluid " style="border-radius: 1rem 0 0 1rem;"  />
                              </div>
                              <div class="col-md-6 col-lg-7 d-flex align-items-center">
                                <div class="card-body p-4 p-lg-5 text-black">
                                    

            <form action="{{ path('login') }}" method="post">

                <div class="d-flex align-items-center mb-3 pb-1">
                    <i class="fa-solid fa-leaf fa-2x me-3"  style="color:green ;"></i>
                   
                    <h1 class="h1 fw-bold mb-0 text-success">Connexion</h1>
                  </div>

               <h2 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Connectez-vous à votre compte</h2>

                <div class="form-floating mb-4">
                    <input type="email" class="form-control form-control-lg" id="email" name="_username" value="{{ last_username }}"
                        placeholder=" name@example.com">
                    <label  for="email">Email address</label>
                </div>
                <div class="form-floating mt-3">
                    <input type="password" class="form-control form-control-lg" id="password" name="_password"
                        placeholder="Mots de passe">
                    <label for="password">Mot de passe</label>
                </div>
                <div class="checkbox my-3">
                    <label>
                        <input type="checkbox" value="_remember_me" checked> Rester connecté
                    </label>
                </div>
                <input type="hidden" name="_target_path" value="/" />
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <div class="pt-1 mb-4">
                <button class="btn btn-success btn-lg btn-block" type="submit">S'identifier</button>
                </div>
                <a class="small text-muted" href="#">Mot de passe oublié ?</a>
                    <p class="mb-5 pb-lg-2" style="color: #393f81;">Vous n'avez pas de compte ? <a href="{{ path('app_register')}}"
                        style="color: #393f81;">Inscrivez-vous ici</a></p>
                    <a href="{{ path('app_condition_general_dutilisation') }}" class="small text-muted">Conditions d'utilisation.</a>
                    <a href="{{ path('app_confidentialite')}}" class="small text-muted">Politique de confidentialité</a>

            </form>
        </div>
    </div>

    

</div>
</div>
</section>
        </div>
    </div>
</div>

{% endblock %}