<style>
    footer{
        background-color: #224367;
    }
</style>
<footer id="footer" class="footer mt-auto pt-3 ">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-12 col-md-6 text-center">
                <img src="{{ asset('/images/atypikHouse.svg') }}" width="200" height="200" alt="AtypikHouse Logo">
            </div>
            <div class="col-sm-12 col-md-6 text-center">
                <img src="{{ asset('/images/sticker-logo-cb-carte-bancaire.jpg') }}" width="200" height="250"
                    alt="Secure Payment with Stripe">
            </div>
           
        </div>
        <div class="row justify-content-center text-center subfooter">
            <div class="col-6 col-md-auto"><a class="nav-link text-light" href="{{ path('app_qui_somme_nous')}}">Qui sommes-nous ? </a></div>
            <div class="col-6 col-md-auto"><a class="nav-link text-light" href="{{ path('app_mention_legal')}}">Mentions légales</a></div>
            <div class="col-6 col-md-auto"><a class="nav-link text-light" href="{{ path('app_confidentialite')}}">Confidentialité</a></div>
            <div class="col-6 col-md-auto"><a class="nav-link text-light" href="{{ path('app_conditions_generales_de_vente') }}">Conditions générales de vente</a></div>
            <div class="col-6 col-md-auto"><a class="nav-link text-light" href="{{ path('app_conditions_generales_de_reservation') }}">Conditions générales de résérvation</a></div>
            <div class="col-6 col-md-auto"><a class="nav-link text-light" href="{{ path('app_condition_general_dutilisation') }}">Conditions générales d'utilisation</a></div>
            <div class="col-6 col-md-auto"><a class="nav-link text-light" href="{{ path('contact') }}">Contactez-nous</a>
            </div>
        </div>
        <div class="row justify-content-center text-center subfooter">
            <div class=" col-6 col-md-auto btn btn-primary" style="background-color: #3b5998;" href="#" role="button">
                <i class="fab fa-facebook-f"></i>
            </div>
          <div class=" col-6 col-md-auto btn btn-primary" style="background-color: #55acee;" href="#" role="button">
            <i class="fab fa-twitter"></i>
        </div>
        <div class="col-6 col-md-auto btn btn-primary" style="background-color: #dd4b39;" href="#" role="button">
            <i class="fab fa-google"></i>
        </div>
        <div class="col-6 col-md-auto btn btn-primary" style="background-color: #ac2bac;" href="#" role="button">
            <i class="fab fa-instagram"></i>
        </div>
        <div class="col-6 col-md-auto btn btn-primary" style="background-color: #ed302f;" href="#" role="button">
            <i class="fab fa-youtube"></i>
        </div>
        </div>
        <div class="col-12 text-center subfooter">
            <p class="text-light mt-3 copyright">&copy; copyright 2021&mdash;<span id="curYr"></span> AtypikHouse Tous droits réservés. AtypikHouse n’est pas une
                agence de voyage et
                ne facture aucun frais de service pour les utilisateurs de notre site.</p>
        </div> 
        <script>
            const date = new Date();
            const year = date.getFullYear();
            document.getElementById('curYr').innerHTML=year;

        </script>
        
    </div>
</footer>