<style>
    nav{
        background-color: #224367;
    }
</style>
<nav id="header" class="navbar navbar-expand-md ">
    <div class="container-fluid">
        <div class="navbar-brand mt-2 mt-lg-0" href="/">
            <img src="{{ asset('/images/atypikHouse.svg') }}" alt="Logo atypik house" height="80%" >
        </div>
        <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarTogglerDemo01" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 navbar-nav-scroll">
                <button type="button" class="btn  btn-outline-success btn-sm">
                <li class="nav-item">
                    <a class="nav-link text-light active"  aria-current="page" href="{{ path('home') }}" role="link page acueill" >Accueil</a>
                </button></li>
                <button type="button" class="btn btn-outline-success btn-sm">
                <li class="nav-item">
                    <a class="nav-link text-light" href="{{ path('properties') }}">Nos hébergements</a>
               </button> </li>
                {% if app.user != null %}
                {% if "ROLE_SUPERADMIN" not in app.user.roles  %}
                <button type="button" class="btn btn-outline-success btn-sm">
                <li class="nav-item">
                    <a class="nav-link text-light" href="{{ path('host') }}">Devenir hébergeur</a>
               </button> </li>
                {% endif %}
                {% endif %}
                <button type="button" class="btn btn-outline-success btn-sm">
                    <li class="nav-item">
                        <a class="nav-link text-light  active "  aria-current="page" href="{{ path('contact') }}">Contacte-Nous</a>
                    </button></li>
            </ul>
            <ul class="ms-auto navbar-nav">
                {% if app.user == null %}
                <button type="button" class="btn btn-outline-success btn-sm">
                <li class="nav-item">
                    <a class="nav-link text-light" role="button" href="{{ path('app_register') }}">Créer
                        un compte</a>
                </button></li>

                <button type="button" class="btn btn-outline-success btn-sm">
                <li class="nav-item">
                    <a class="nav-link text-light" role="button" href="{{ path('login') }}">Se connecter</a>
               </button> </li>
                {% else %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        {{ app.user.firstName }}&nbsp;{{ app.user.lastName }}
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                         <li><a class="dropdown-item" href="{{ path('my-account') }}">Mon compte</a></li>
                         <li><a class="dropdown-item" href="{{ path('reservations') }}">Mes réservations</a></li>
                        {% if "ROLE_ADMIN" in app.user.roles %}
                          <li><a class="dropdown-item" href="{{ path('dashboard') }}">Espace hébergeur</a></li>
                        {% elseif  "ROLE_SUPERADMIN" in app.user.roles  %}
                         <li><a class="dropdown-item" href="{{ path('dashboard') }}">Espace Admin</a></li>
                        {% endif %}
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                          <li><a class="dropdown-item" href="{{ path('logout') }}">Déconnexion</a></li>
                    </ul>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>

</nav>