{% extends 'base.html.twig' %}

{% block title %}Mon Compte{% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-sm-12 col-md-6 col-lg-6">
            {{ form_start(addressForm) }}
            <div class="row">
                <h3>Mon adresse</h3>
                <div class="col-6">
                    <div class="form-floating mb-3">
                        {{ form_widget(addressForm.street_number) }}
                        {{ form_label(addressForm.street_number) }}
                        {{ form_errors(addressForm.street_number) }}
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-floating mb-3">
                        {{ form_widget(addressForm.street_name) }}
                        {{ form_label(addressForm.street_name) }}
                        {{ form_errors(addressForm.street_name) }}
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-floating mb-3">
                        {{ form_widget(addressForm.city) }}
                        {{ form_label(addressForm.city) }}
                        {{ form_errors(addressForm.city) }}
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-floating mb-3">
                        {{ form_widget(addressForm.code_zip) }}
                        {{ form_label(addressForm.code_zip) }}
                        {{ form_errors(addressForm.code_zip) }}
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-floating mb-3">
                        {{ form_widget(addressForm.country) }}
                        {{ form_label(addressForm.country) }}
                        {{ form_errors(addressForm.country) }}
                    </div>
                </div>
                <div class="col-12 align-content-center d-flex">
                    <a href="{{ path('my-account') }}" class="btn btn-outline-dark w-100 me-3">Annuler</a>
                    <button type="submit" class="btn btn-outline-success w-100">Modifier</button>
                </div>
            </div>
            {{ form_end(addressForm) }}
        </div>
    </div>
</div>
{% endblock %}